<div class="vantagens mt-1">

    <div class="text-vantagens" >
        <h1 class="display-4">VANTAGENS</h1>
        <p class="lead" id="vantagens">Veja abaixo algumas das vantagens de ser nosso cliente</p>
    </div>

    <div class="row linha-imagem" >

        <div class="elm1 col mt-4">
            
            <img src="https://randomuser.me/api/portraits/men/64.jpg" class="rounded-circle" alt="imagem-vantagem" style="max-width: 70px;">
        
            <h3 class="lead text-bottom-vantagens">Fibra técnica</h3>
        </div>
        <div class="elm1 col mt-4">
            <img src="https://randomuser.me/api/portraits/men/64.jpg" class="rounded-circle" alt="imagem-vantagem" style="max-width: 70px;">
            <h3 class="lead text-bottom-vantagens">Suporte</h3>
        </div>
        <div class="elm1 col mt-4">
            <img src="https://randomuser.me/api/portraits/men/64.jpg" class="rounded-circle" alt="imagem-vantagem" style="max-width: 70px;">
            <h3 class="lead text-bottom-vantagens">Sem franquia de utilização</h3>
        </div>
    </div>

    <div class="row mt-5 linha-imagem">
        <div class="elm1 col mt-4">
            
            <img src="https://randomuser.me/api/portraits/men/64.jpg" class="rounded-circle" alt="imagem-vantagem" style="max-width: 70px;">
        
            <h3 class="lead text-bottom-vantagens">Taxa de tranferência individual</h3>
        </div>
        <div class="elm1 col mt-4">
            <img src="https://randomuser.me/api/portraits/men/64.jpg" class="rounded-circle" alt="imagem-vantagem" style="max-width: 70px;">
            <h3 class="lead text-bottom-vantagens">Séries, filmes, e muito mais!</h3>
        </div>
        <div class="elm1 col mt-4">
            <img src="https://randomuser.me/api/portraits/men/64.jpg" class="rounded-circle" alt="imagem-vantagem" style="max-width: 70px;">
            <h3 class="lead text-bottom-vantagens">Sem contrato fidelidade</h3>
        </div>
    </div>
</div>