.bi-circle{
    color: cornflowerblue;
}

.navbar{
    -webkit-box-shadow: -5px 7px 17px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 7px 17px -8px rgba(0,0,0,0.75);
box-shadow: -5px 7px 17px -8px rgba(0,0,0,0.75);
}