<div class="text-main" >
    <h1 class="display-4" >BANDA LARGA</h1>
    <h2 class="lead" style="font-size: 25px;" id="planos">Planos de Fibra Óptica. Internet de verdade</h2>
</div>

<div class="cards row mb-0">

    <div class="col-sm card">
        <span class="lead">Até</span>

        <h1 class=""><strong>50 MEGA</strong></h1>

        <h1 style="color: 	#7FFF00;">79<span style="font-size: 10px;">,00</span></h1>

        <span class="lead" style="font-size: 13px;">POR MÊS</span>

        <div class="text-botom mt-3 mb-5">
            <span class="lead" style="font-size: 13px;">HORAS DE USO ILIMITADAS <br> + 5 CONTAS DE EMAIL
                GRÁTIS</span>
        </div>

        <button type="button"
            class="btn btn-warning btn-rounded btn-block z-depth-0 my-4 waves-effect">Assine agora</button>
    </div>

    <div class="col-sm card">
        <span class="lead">Até</span>

        <h1 class=""><strong>5  MEGA</strong></h1>

        <h1 style="color: 	#7FFF00;">45<span style="font-size: 10px;">,00</span></h1>

        <span class="lead" style="font-size: 13px;">POR MÊS</span>

        <div class="text-botom mt-3 mb-5">
            <span class="lead" style="font-size: 13px;">HORAS DE USO ILIMITADAS <br> + 5 CONTAS DE EMAIL
                GRÁTIS</span>
        </div>

        <button type="button"
            class="btn btn-warning btn-rounded btn-block z-depth-0 my-4 waves-effect">Assine agora</button>
    </div>

    <div class="col-sm card">
        <span class="lead">Até</span>

        <h1 class=""><strong>10 MEGA</strong></h1>

        <h1 style="color: 	#7FFF00;">55<span style="font-size: 10px;">,00</span></h1>

        <span class="lead" style="font-size: 13px;">POR MÊS</span>

        <div class="text-botom mt-3 mb-5">
            <span class="lead" style="font-size: 13px;">HORAS DE USO ILIMITADAS <br> + 5 CONTAS DE EMAIL
                GRÁTIS</span>
        </div>

        <button type="button"
            class="btn btn-warning btn-rounded btn-block z-depth-0 my-4 waves-effect">Assine agora</button>
    </div>
</div>

<div class="row cards">
    <div class="col-sm card">
        <span class="lead">Até</span>

        <h1 class=""><strong>15 MEGA</strong></h1>

        <h1 style="color: 	#7FFF00;">60<span style="font-size: 10px;">,00</span></h1>

        <span class="lead" style="font-size: 13px;">POR MÊS</span>

        <div class="text-botom mt-3 mb-5">
            <span class="lead" style="font-size: 13px;">HORAS DE USO ILIMITADAS <br> + 5 CONTAS DE EMAIL
                GRÁTIS</span>
        </div>

        <button type="button"
            class="btn btn-warning btn-rounded btn-block z-depth-0 my-4 waves-effect">Assine agora</button>
    </div>

    <div class="col-sm card">
        <span class="lead">Até</span>

        <h1 class=""><strong>30 MEGA</strong></h1>

        <h1 style="color: 	#7FFF00;">68<span style="font-size: 10px;">,00</span></h1>

        <span class="lead" style="font-size: 13px;">POR MÊS</span>

        <div class="text-botom mt-3 mb-5">
            <span class="lead" style="font-size: 13px;">HORAS DE USO ILIMITADAS <br> + 5 CONTAS DE EMAIL
                GRÁTIS</span>
        </div>

        <button type="button"
            class="btn btn-warning btn-rounded btn-block z-depth-0 my-4 waves-effect">Assine agora</button>
    </div>

    <div class="col-sm card">
        <span class="lead">Até</span>

        <h1 class=""><strong>100 MEGA</strong></h1>

        <h1 style="color: 	#7FFF00;">99<span style="font-size: 10px;">,00</span></h1>

        <span class="lead" style="font-size: 13px;">POR MÊS</span>

        <div class="text-botom mt-3 mb-5">
            <span class="lead" style="font-size: 13px;">HORAS DE USO ILIMITADAS <br> + 5 CONTAS DE EMAIL
                GRÁTIS</span>
        </div>

        <button type="button"
            class="btn btn-warning btn-rounded btn-block z-depth-0 my-4 waves-effect">Assine agora</button>
    </div>
</div>

<div class="infos">
    <span class="lead" style="font-size: 13px;"> * Valor sujeito a disponobilidade técnica. <br> ** Solicitar viabilidade</span>
</div>