
.text-main {
    margin-top: 2%;
    text-align: center;
    
}

.cards{
    text-align: center;
    margin: 5%;
}
.card{
    margin: 5px;
    background: #F5F5F5;
}
.btn-warning{
    color :white;
}
.btn-warning:hover{
    color: white;
}
.infos{
    margin: 2%;
    border-top: 1px solid black;
    border-width: 50%;
}