
.footer{
    margin: 1%;
    padding: 10% 10% 0 10%;
}
footer{
    background: url( https://images.pexels.com/photos/2312040/pexels-photo-2312040.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 63vh;
}
footer i{
    color: white;
    margin: 1%;
    
}