<footer> 
    <div class="row footer" id="fale-conosco">

      <div class="bloco-footer-1 col-sm">
          <p style="color: white;"> Telefones de contato e suporte: <br> Telefone: (00)0000-0000 <br> WhatsApp: (00)00000-0000</p>
      </div>

      <div class="bloco-footer-2 col-sm">
        <p style="color: white;">Emails: <br> Problemas de conexão ou para contratar o serviço: <br> exemplo@exemplo.com</p>
    
        <p style="color: white;">Dúvidas sobre sua fatura bancária: <br> exemplo@exemplo.com</p>
    </div>

    <div class="bloco-footer-1 col-sm">
        <p style="color: white;">Nos siga nas redes sociais:</p>

        <i style="font-size: 45px;" class="fa fa-google-plus-square" aria-hidden="true"></i>
        <i style="font-size: 45px;" class="fa fa-facebook-square" aria-hidden="true"></i>
        <i style="font-size: 45px;" class="fa fa-twitter-square" aria-hidden="true"></i>
    
    </div>

    </div>
</footer>