.capa{
    background: url(https://images.pexels.com/photos/4260639/pexels-photo-4260639.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 80vh;
    right: 0;
    border: 0.1px solid #fff;
    width: auto;
}
.text-capa{
    margin-top: 5%;
    padding: 60px;
    color: black;
 
}